{% extends layout %}
{% block content %}
  <main class="container">
    <div class="bg-light border-dark rounded">
      <form action="/mangalist/search" method="get" class="d-flex flex-row">
        <input class="form-control" type="search" name="searchtitle" id="searchtitle" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div>
      {% for manga in mangalist %}
      <div class="card mb-3">
        <div class="card-body">
          <div>
            <h5 class="card-title">{{manga.title}}</h5>
            <div class="d-flex">
              <p class="card-text pe-2">Chapter: {{manga.chapter}}</p>
              <p class="card-text">Status: {{manga.status}}</p>
            </div>
          </div>
          <div class="iblock">
            <button class="collapsible">Edit</button>
            <form action="/mangalist/{{manga.manga_id}}/edit" method="post" class="mtop content">
              <div class="input-group input-group-sm">
                <input class="form-control" 
                  type="text" 
                  name="chapter"
                  id="chapter"
                  value="{{ manga.chapter }}"
                  required 
                  aria-label="Sizing example input" 
                  aria-describedby="inputGroup-sizing-sm">
                <input class="form-control" 
                  type="text" 
                  name="status"
                  id="status"
                  value="{{ manga.status }}"
                  required 
                  aria-label="Sizing example input" 
                  aria-describedby="inputGroup-sizing-sm">
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
          <div class="f-right">
            <a href="/mangalist/{{manga.manga_id}}/delete" class="btn btn-danger btn-sm">Remove</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}