{% extends layout %}
{% block content %}
  <main class="container mt-2">
    <div class="bg-light border-dark rounded">
      <form action="/mangalist/search" method="get" class="d-flex flex-row">
        <input class="form-control" type="search" name="searchtitle" id="searchtitle" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <div>
      <form action="/mangalist" method="post" class="mt-3 mb-3 p-3 bg-light border border-dark rounded">
        <div class="mb-3">
          <label for="titleInput" class="form-label">Title</label>
          <div>
            <input class="form-control" 
              type="text" 
              name="title" 
              id="titleInput" 
              value="{{ title }}" 
              required 
              aria-label="Sizing example input" 
              aria-describedby="inputGroup-sizing-sm">
          </div>
        </div>
        <div class="mb-3">
          <label for="chapterInput" class="form-label">Chapter</label>
          <input class="form-control" 
            type="text" 
            name="chapter" 
            id="chapterInput" 
            value="{{ chapter }}" 
            required 
            aria-label="Sizing example input" 
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="mb-3">
          <label for="statusInput" class="form-label">Status</label>
          <input class="form-control" 
            type="text" 
            name="status" 
            id="statusInput" 
            value="{{ status }}" 
            required 
            aria-label="Sizing example input" 
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div>
          <button class="btn btn-primary" type="submit">Add Manga</button>
        </div>
      </form>
    </div>

    <div>
      {% for manga in mangalist %}
      <div class="card mb-3">
        <div class="card-body">
          <div>
            <h5 class="card-title">{{manga.title}}</h5>
            <p class="card-text">Chapter: {{manga.chapter}}</p>
            <p class="card-text">Status: {{manga.status}}</p>
          </div>
          <div class="iblock">
            <button class="collapsible">Edit</button>
            <form action="/mangalist/{{manga.id}}/edit" method="post" class="mtop content">
              <div class="input-group input-group-sm">
                <input class="form-control" 
                  type="text" 
                  name="title"
                  id="title"
                  value="{{ manga.title }}"
                  required 
                  aria-label="Sizing example input" 
                  aria-describedby="inputGroup-sizing-sm">
                <input class="form-control" 
                  type="text" 
                  name="chapter"
                  id="chapter"
                  value="{{ manga.chapter }}"
                  required 
                  aria-label="Sizing example input" 
                  aria-describedby="inputGroup-sizing-sm">
                <input class="form-control" 
                  type="text" 
                  name="status"
                  id="status"
                  value="{{ manga.status }}"
                  required 
                  aria-label="Sizing example input" 
                  aria-describedby="inputGroup-sizing-sm">
                <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
          <div class="f-right">
            <a href="/mangalist/{{manga.id}}/delete" class="btn btn-danger btn-sm">Remove</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock %}