{% extends layout %}
{% block content %}
  <div class="position-absolute top-50 start-50 translate-middle bg-white border border-dark rounded row">
    <button class="m-0 p-3 text-center border-0">Sing up</button> 
    <button class="m-0 p-3 text-center border-0">Log in</button>
  </div>
{% endblock %}