* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#3b3b3b;
}

form {
  display: flex;
  flex-direction: column;
}


// # CLASSES #

.f-right {
  float: right;
}

.iblock {
  display:inline-block
}

.hover:hover {
  background-color: #979797;
}



// # Collapsible #
.collapsible {
  font-size: 10px;
  margin-top: 10px;
  border: none;
  background: none;
  text-decoration: underline;
}

.content {
  display: none;
}

